<head>
    <meta charset="UTF-8">
    <title>PENKOFF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="container">
    <div id="main-content">
        <div id="content-inner-main">
            <h3>Check our advantages.</h3>
        </div>
    </div>
</div>
</body>