<head>
    <meta charset="UTF-8">
    <title>PENKOFF</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
<div id="container">
    <div id="main-content">
        <div id="content-inner-main">
            <h3>Check our features.</h3>
            <div id="inner-advantage-1">
                <h1>No charging.</h1>
                @*<P class="block-text">
                    our debit or credit cards are serviced completely free of charge
                </P>*@
            </div>
            <div id="inner-advantage-2">
                <h1></h1> 
            </div>
            <div id="inner-advantage-3">
                <h1></h1>
            </div>
        </div>
    </div>
</div>
</body>