@model PENKOFF.Models.MailVerificationViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/mail-verification.css">
    @*Font links*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="result">
    <h3>@Model.result</h3>
</div>
<div class="center">
    <h1>Last step:</h1>
    <form asp-action="MailVerification" asp-controller="Account">
        <div class="txt-field">
            <input required type="text" placeholder="Email:" asp-for="mail"/>
        </div>
        <input type="submit" value="Send code">
    </form>
    <form asp-action="CheckCode" asp-controller="Account">
        <div class="txt-field-1">
            <input required type="text" placeholder="Email:" asp-for="mail"/>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>