@model PENKOFF.Models.SignUpVewModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/signup.css">
    @*Font links*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;700&family=Open+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="logo">
    <a style="text-decoration:none; color: #176FFA; font-family: 'Pragmatica',serif" asp-action="Index" asp-controller="Home">PENKOFF</a>
</div>
<div class="center">
    <h1>Sign up</h1>
    <form asp-action="Registration" asp-controller="Account">
        <div class="txt-field">
            <input required type="text" placeholder="First name:" asp-for="user.FirstName"/>
        </div>
        <div class="txt-field">
            <input required type="text" placeholder="Last name:" asp-for="user.LastName"/>
        </div>
        <div class="txt-field">
            <input required type="text" placeholder="Login:" asp-for="user.Login"/>
        </div>
        <div class="txt-field">
            <input required type="password" placeholder="Password:" asp-for="user.Password"/>
        </div>
        <div class="txt-field">
            <input required type="password" placeholder="Repeat password:" asp-for="repeatPassword"/>
        </div>
        <input type="submit" value="Sign up">
    </form>
</div>
</body>
</html>