body {
    margin: 0;
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 1.6;
    background-color: #FBFBFB;
    color: #176FFA
}

#container {
    max-width: 960px;
    margin: auto;
}

#main-content {
    width: 100%;
    height: 60%;
    background: #F7F7F7;
    position: fixed;
    top: 15%;
    left: 0;
}

#content-inner-main {
    width: 100%;
    padding-top: 5%;
    position: relative;
}

#content-inner-main h3 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 250%;
}