body {
    margin: 0;
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 1.6;
    background-color: #FBFBFB;
    color: #176FFA
}

#container {
    max-width: 960px;
    margin: auto;
}

#main-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}