body {
    margin: 0;
    font-family: 'SF Pro Display';
    font-size: 14px;
    line-height: 1.6;
    background-color: #FBFBFB;
    color: #176FFA
}

.container {
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
}

.header {
    width: 100%;
    margin-top: 10px;
    /*position: absolute;*/
    /*top: 10px;
    right: 0;
    left: 0;
    z-index: 1000;*/
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    font-family: 'Pragmatica';
    font-size: 34px;
    font-weight: 800;
}

.nav {
    font-size: 30px;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 70px;
    color: #5C5757;
    text-decoration: none;
    font-size: 22px;
    transition: color .2s linear;
}

.nav_link:hover {
    color: #16FAEA;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #5C5757;
    height: auto;
    width: 100vw;
    padding-top: 10px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}


